body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template: 150px auto / 25% 50% 25%;
}

nav {
    grid-area: 1 / 1 / 1 / span 3;
}

#container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    /* border: 1px solid black; */
    margin: 0;
}