#container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    /* border: 1px solid black; */
    margin: 0;
}